<!doctype html>
<html>
	<head>
		<title>{{ title }}</title>

		<style>

	    	body{background-color:#202020;color:#FFF;font-family:'Lato', sans-serif;font-size:large}
	    	nav{width:100%;float:left;margin-top:3%}
	    	a{color:#FFF}
	    	nav a{width:25%;float:left;font-size:x-large;text-align:center}
	    	nav a:hover{text-decoration:overline}

		</style>

	</head>
	<body>
		{{{ body }}}

		<nav>
	    	<a href="cat">Cats</a>
	    	<a href="dog">Dogs</a>
		</nav>

	</body>
</html>



